html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: lato,serif;
  line-height: 1.5;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.div {
  display: inline-block;
  margin: 1.5em;
  max-width: 25em;
}

.div h2 {

}
