html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
  }

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

div {
  display: inline-block;
  padding: 1em;
  max-width: 25em;
}

div a {
  display: inline-block;
  padding: 1em;
  border-radius: 4px;
  border: 3px solid black;
}

div img {
  padding: .4em .75em .25em;
}

div h2 {
  padding: 2em;
  margin: 1.5em;
}

div p{
  padding: 2em;
  margin: 1.5em;
}
